.navbar {
  background-color: #e0e0e0; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.navbar .nav-link {
  font-weight: 500;
  color: #000000; 
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .nav-link:hover {
  color: #008db1;
  transform: translateY(-2px);
}

@keyframes slideIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.footer {
  background-color: #e0e0e0; 
  padding: 1rem;
}
