.navbar {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-link {
  transition: transform 0.3s, color 0.3s;
}

.nav-link:hover {
  transform: translateY(-3px);
  color: #14c3f4; 
}

.navbar-toggler {
  border: none; 
}

.navbar-toggler:focus {
  outline: none;
}
