<main class="container-fluid">
  <table class="table table-hover" style="margin-top: 2%; border: none;">
    <thead>
      <tr style="text-align: center;">
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Order Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <input type="img" [(ngModel)]="product.image" (change)="handleFileInput($event)" hidden>
        <td>{{ product.productid }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.email }}</td>
        <td>{{ product.contact }}</td>
        <td>{{ product.address }}</td>
        <td>
          <select name="Approval" [(ngModel)]="product.status" class="select-approval">
            <option value="In Progress" disabled>In Progress</option>
            <option value="Approved">Approved</option>
            <option value="Ready for dispatch">Ready for dispatch</option>
            <option value="Partially dispatched">Partially dispatched</option>
            <option value="Delivered">Delivered</option>
          </select>
        </td>        
        <td>
          <a class="link-approve" (click)="actionOnApproval(product)">Approve</a>
        </td>
      </tr>
    </tbody>
  </table>
</main>
