<main class="container-fluid">
  <table class="table table-bordered table-hover">
    <thead>
      <tr style="text-align: center;">
        <th>Image</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Category</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" class="table-row">
        <td><img [src]="product.image" alt="image" class="product-image"></td>
        <td>{{ product.name }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.price | currency: 'INR' }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <button class="btn btn-danger m-1" (click)="delProduct(product.productid)">Delete</button>
          <button class="btn btn-warning m-1" (click)="loadUpdateProduct(product)">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
