<main>
  <div class="row" style="margin: 2% 1%;">
    <div *ngFor="let product of products" class="col-lg-3 col-md-6 mb-4">
      <div class="card shadow-sm border-light product-card">
        <img [src]="product.image" class="product-image card-img" alt="{{ product.name }}">
        <div class="card-body">
          <h6 class="card-title">{{ product.name }}</h6>
          <p><strong>Category:</strong> {{ product.category }}</p>
          <p class="card-text"><strong>Price:</strong> {{ product.price | currency: 'INR' }}</p>
          <p class="card-text"><strong>Description:</strong> {{ product.description }}</p>
          <p class="card-text"><strong>Quantity:</strong> {{ product.quantity }}</p>
          <p class="card-text text-success">In Stock</p>
        </div>
        <div class="d-flex justify-content-start mt-0">
          <a (click)="delProduct(product.productid)" class="btn btn-action">
            Delete
          </a>
          <a (click)="loadUpdateProduct(product)" class="btn btn-action">
           Update
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
