<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-md-8 offset-md-2">
      <input type="search" class="form-control" placeholder="Search products..." [(ngModel)]="searchQuery" (input)="search()">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div *ngIf="searchResults.length === 0 && searchQuery" class="alert alert-warning">
        No products found
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 2%;margin-left: 3%; margin-right: 3%;">
  <div class="row">
    <div *ngFor="let product of productsToDisplay" class="col-lg-3 col-md-6 mb-4">
      <div class="card shadow-sm border-light product-card">
        <img [src]="product.image" class="img-top" alt="{{ product.name }}">
        <p>
          <strong>Brand:</strong> {{ product.brand }} <br>
        </p>
        <div class="card-body">
          <h6 class="card-title">{{ product.name }}</h6>
          <p class="card-text">
            <strong>Price:</strong> {{ product.price | currency: 'INR' }}
          </p>
          <div class="button-container d-flex justify-content-between mt-2">
            <button class="btn btn-warning" (click)="addToCart(product)">Add to Cart</button>
            <button class="btn btn-success" (click)="proceedToBuy(product)">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
