

.jumbotron {
  background-color: #ffffff;
  padding: 2rem 1rem;
  color: #343a40;
}

.row {
  margin-top: 2rem;
}

.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-primary:hover {
  background-color: #007bff;
  border-color: #007bff;
}

h1 {
  color: #007bff;
}

.product-card {
  width: 280px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.img-top {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}

.icon-button {
  margin-right: 10px;
  font-size: 24px;
  color: #978f8f;
  transition: color 0.3s;
}

.icon-button:hover {
  color: #141414;
}

.cdn-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.img-fluid {
  width: 150px;
  height: 150px;
}

.animated-gif {
  width: 100%; 
  max-width: 1180px;
  animation: slideIn 0.5s ease-in-out;
}
