<div class="container" style="max-width: 400px; margin-top: 4%;">
    <form #productForm="ngForm">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" class="form-control" required [(ngModel)]="productt.name" name="name" [value]="productt.name">
        </div>
        <div class="form-group">
          <label for="brand">Brand:</label>
          <input type="text" id="brand" class="form-control" required [(ngModel)]="productt.brand" name="brand">
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" id="price" class="form-control" required [(ngModel)]="productt.price" name="price">
        </div>
        <div class="form-group">
          <label for="category">Category:</label>
          <select class="form-control" name="category" id="category" [(ngModel)]="productt.category">
            <option *ngFor="let cat of category" [value]="cat.categoryname">{{cat.categoryname}}</option>
          </select>
        </div>        
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" class="form-control" required [(ngModel)]="productt.description" name="description"></textarea>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" class="form-control" required [(ngModel)]="productt.quantity" name="quantity">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Profile Image</label>
            <input type="file" id="image" class="form-control" (change)="handleFileInput($event)">
          </div>
        <button type="submit" class="btn btn-primary" *ngIf="isSubmitMode" (click)="addProduct()">Submit</button>
        <button type="submit" class="btn btn-primary" *ngIf="isUpdateMode"  (click)="updateProduct(productt)">Update</button>
      </form>
</div>
