<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="loadHome()">Amazon-Clone</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link" (click)="loadHome()">Home</a>
          </li>
          <li class="nav-item dropdown">
            <button class="btn btn-sm dropdown-toggle nav-link" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Select Category
            </button>
            <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
              <li *ngFor="let category of categories">
                <a class="dropdown-item" (click)="viewProductsByCategory(category.categoryname)">
                  {{ category.categoryname }}
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="loadCart()">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="loadOrder()">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="loadProfile()">My Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div style="margin-top: 2%;margin-left: 5%; margin-right: 5%;" *ngIf="second">
    <div class="row">
      <div *ngFor="let product of products" class="col-lg-3 col-md-6 mb-4">
        <div class="card shadow-sm border-light product-card">
          <img [src]="product.image" class="img-top" alt="{{ product.name }}">
          <p>
            <strong>Brand:</strong> {{ product.brand }} <br>
          </p>
          <div class="card-body">
            <h6 class="card-title">{{ product.name }}</h6>
            <p class="card-text">
              <strong>Price:</strong> {{ product.price | currency: 'INR' }}
            </p>
            <div class="button-container d-flex justify-content-between mt-2">
              <button class="btn btn-warning" (click)="addToCart(product)">Add to Cart</button>
              <button class="btn btn-success" (click)="proceedToBuy(product)">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!second">
    <router-outlet></router-outlet>
  </div>
