.product-card {
  transition: transform 0.2s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-text {
  font-size: 12px;
}

.form-control {
  width: 6vw;
  height: 7vh;
  border-radius: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.cdn-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-button {
  cursor: pointer;
  color: #007bff;
}

.small-text {
  font-size: 12px;
}

.card {
  height: auto; /* Ensure auto height adjusts based on content */
}
