  <div class="container-fluid my-orders text-center bg-white text-black py-2 shadow" >
    <div >
      <table class="table table-bordered cursor-pointer">
        <thead class="thead-light">
          <tr>
            <th scope="col">Product Image</th>
            <th scope="col">Brand</th>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>
              <img [src]="product.image" class="img-fluid" alt="{{ product.name }}">
            </td>
            <td>{{ product.brand }}</td>
            <td>{{ product.name }}</td>
            <td>{{product.description}}</td>
            <td>
              <input class="w-50" type="number" min="1" [(ngModel)]="product.quantity" 
                (input)="calculateSubtotal()" (change)="updateCart(product)">
            </td>
            <td>{{ product.quantity * product.price| currency:'INR' }}</td>
            <td>
              <button type="button" class="btn btn-primary p-2 m-1" 
                (click)="deleteFromCart(product.productid)">Remove</button>
              <button type="button" class="btn btn-primary p-2 m-1" 
                (click)="loadCheckout(product)">Buy</button>
            </td>
          </tr>
          <tr>
            <th colspan="5">Subtotal:</th>
            <td>{{ subtotal | currency:'INR' }}</td>
            <td><button class="btn btn-primary" (click)="loadAllProducts()">Buy All</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
